.dark {
  --md-sys-color-primary: rgb(212 195 186);
  --md-sys-color-surface-tint: rgb(212 195 186);
  --md-sys-color-on-primary: rgb(57 46 40);
  --md-sys-color-primary-container: rgb(47 37 31);
  --md-sys-color-on-primary-container: rgb(154 139 131);
  --md-sys-color-secondary: rgb(216 200 96);
  --md-sys-color-on-secondary: rgb(55 49 0);
  --md-sys-color-secondary-container: rgb(181 166 66);
  --md-sys-color-on-secondary-container: rgb(67 59 0);
  --md-sys-color-tertiary: rgb(246 245 245);
  --md-sys-color-on-tertiary: rgb(47 49 49);
  --md-sys-color-tertiary-container: rgb(217 217 217);
  --md-sys-color-on-tertiary-container: rgb(93 95 95);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 19 18);
  --md-sys-color-on-background: rgb(231 225 224);
  --md-sys-color-surface: rgb(20 19 18);
  --md-sys-color-on-surface: rgb(231 225 224);
  --md-sys-color-surface-variant: rgb(78 69 64);
  --md-sys-color-on-surface-variant: rgb(209 196 189);
  --md-sys-color-outline: rgb(154 142 136);
  --md-sys-color-outline-variant: rgb(78 69 64);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 225 224);
  --md-sys-color-inverse-on-surface: rgb(50 48 47);
  --md-sys-color-inverse-primary: rgb(105 92 84);
  --md-sys-color-primary-fixed: rgb(241 223 213);
  --md-sys-color-on-primary-fixed: rgb(35 26 20);
  --md-sys-color-primary-fixed-dim: rgb(212 195 186);
  --md-sys-color-on-primary-fixed-variant: rgb(80 68 62);
  --md-sys-color-secondary-fixed: rgb(245 228 121);
  --md-sys-color-on-secondary-fixed: rgb(32 28 0);
  --md-sys-color-secondary-fixed-dim: rgb(216 200 96);
  --md-sys-color-on-secondary-fixed-variant: rgb(80 71 0);
  --md-sys-color-tertiary-fixed: rgb(226 226 226);
  --md-sys-color-on-tertiary-fixed: rgb(26 28 28);
  --md-sys-color-tertiary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(69 71 71);
  --md-sys-color-surface-dim: rgb(20 19 18);
  --md-sys-color-surface-bright: rgb(59 57 56);
  --md-sys-color-surface-container-lowest: rgb(15 14 13);
  --md-sys-color-surface-container-low: rgb(29 27 26);
  --md-sys-color-surface-container: rgb(33 31 30);
  --md-sys-color-surface-container-high: rgb(43 42 41);
  --md-sys-color-surface-container-highest: rgb(54 52 51);
}
