.dark {
  --md-sys-color-primary: rgb(216 200 96);
  --md-sys-color-surface-tint: rgb(216 200 96);
  --md-sys-color-on-primary: rgb(55 49 0);
  --md-sys-color-primary-container: rgb(181 166 66);
  --md-sys-color-on-primary-container: rgb(67 59 0);
  --md-sys-color-secondary: rgb(246 245 245);
  --md-sys-color-on-secondary: rgb(47 49 49);
  --md-sys-color-secondary-container: rgb(217 217 217);
  --md-sys-color-on-secondary-container: rgb(93 95 95);
  --md-sys-color-tertiary: rgb(246 245 245);
  --md-sys-color-on-tertiary: rgb(47 49 49);
  --md-sys-color-tertiary-container: rgb(217 217 217);
  --md-sys-color-on-tertiary-container: rgb(93 95 95);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(21 19 13);
  --md-sys-color-on-background: rgb(231 226 214);
  --md-sys-color-surface: rgb(19 19 19);
  --md-sys-color-on-surface: rgb(229 226 225);
  --md-sys-color-surface-variant: rgb(74 71 55);
  --md-sys-color-on-surface-variant: rgb(204 198 178);
  --md-sys-color-outline: rgb(150 145 126);
  --md-sys-color-outline-variant: rgb(74 71 55);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(49 48 48);
  --md-sys-color-inverse-primary: rgb(106 95 0);
  --md-sys-color-primary-fixed: rgb(245 228 121);
  --md-sys-color-on-primary-fixed: rgb(32 28 0);
  --md-sys-color-primary-fixed-dim: rgb(216 200 96);
  --md-sys-color-on-primary-fixed-variant: rgb(80 71 0);
  --md-sys-color-secondary-fixed: rgb(226 226 226);
  --md-sys-color-on-secondary-fixed: rgb(26 28 28);
  --md-sys-color-secondary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-secondary-fixed-variant: rgb(69 71 71);
  --md-sys-color-tertiary-fixed: rgb(226 226 226);
  --md-sys-color-on-tertiary-fixed: rgb(26 28 28);
  --md-sys-color-tertiary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(69 71 71);
  --md-sys-color-surface-dim: rgb(19 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(53 53 52);
}
