.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 227);
  --md-sys-color-surface-tint: rgb(212 195 186);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(208 191 182);
  --md-sys-color-on-primary-container: rgb(17 10 5);
  --md-sys-color-secondary: rgb(255 241 164);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(212 196 92);
  --md-sys-color-on-secondary-container: rgb(14 11 0);
  --md-sys-color-tertiary: rgb(246 245 245);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(217 217 217);
  --md-sys-color-on-tertiary-container: rgb(34 36 36);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(20 19 18);
  --md-sys-color-on-background: rgb(231 225 224);
  --md-sys-color-surface: rgb(20 19 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(78 69 64);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(252 237 230);
  --md-sys-color-outline-variant: rgb(205 192 185);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 225 224);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(81 70 63);
  --md-sys-color-primary-fixed: rgb(241 223 213);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(212 195 186);
  --md-sys-color-on-primary-fixed-variant: rgb(24 15 10);
  --md-sys-color-secondary-fixed: rgb(245 228 121);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(216 200 96);
  --md-sys-color-on-secondary-fixed-variant: rgb(21 17 0);
  --md-sys-color-tertiary-fixed: rgb(226 226 226);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(16 17 18);
  --md-sys-color-surface-dim: rgb(20 19 18);
  --md-sys-color-surface-bright: rgb(82 79 78);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(33 31 30);
  --md-sys-color-surface-container: rgb(50 48 47);
  --md-sys-color-surface-container-high: rgb(61 59 58);
  --md-sys-color-surface-container-highest: rgb(73 70 69);
}
