.dark-high-contrast {
  --md-sys-color-primary: rgb(255 241 164);
  --md-sys-color-surface-tint: rgb(216 200 96);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(212 196 92);
  --md-sys-color-on-primary-container: rgb(14 11 0);
  --md-sys-color-secondary: rgb(246 245 245);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(217 217 217);
  --md-sys-color-on-secondary-container: rgb(34 36 36);
  --md-sys-color-tertiary: rgb(246 245 245);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(217 217 217);
  --md-sys-color-on-tertiary-container: rgb(34 36 36);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(21 19 13);
  --md-sys-color-on-background: rgb(231 226 214);
  --md-sys-color-surface: rgb(19 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(74 71 55);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(247 240 218);
  --md-sys-color-outline-variant: rgb(200 195 174);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(81 72 0);
  --md-sys-color-primary-fixed: rgb(245 228 121);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(216 200 96);
  --md-sys-color-on-primary-fixed-variant: rgb(21 17 0);
  --md-sys-color-secondary-fixed: rgb(226 226 226);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-secondary-fixed-variant: rgb(16 17 18);
  --md-sys-color-tertiary-fixed: rgb(226 226 226);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(16 17 18);
  --md-sys-color-surface-dim: rgb(19 19 19);
  --md-sys-color-surface-bright: rgb(81 80 79);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(32 31 31);
  --md-sys-color-surface-container: rgb(49 48 48);
  --md-sys-color-surface-container-high: rgb(60 59 59);
  --md-sys-color-surface-container-highest: rgb(71 70 70);
}
