.dark-medium-contrast {
  --md-sys-color-primary: rgb(239 222 115);
  --md-sys-color-surface-tint: rgb(216 200 96);
  --md-sys-color-on-primary: rgb(43 38 0);
  --md-sys-color-primary-container: rgb(181 166 66);
  --md-sys-color-on-primary-container: rgb(30 26 0);
  --md-sys-color-secondary: rgb(246 245 245);
  --md-sys-color-on-secondary: rgb(47 49 49);
  --md-sys-color-secondary-container: rgb(217 217 217);
  --md-sys-color-on-secondary-container: rgb(65 66 67);
  --md-sys-color-tertiary: rgb(246 245 245);
  --md-sys-color-on-tertiary: rgb(47 49 49);
  --md-sys-color-tertiary-container: rgb(217 217 217);
  --md-sys-color-on-tertiary-container: rgb(65 66 67);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(21 19 13);
  --md-sys-color-on-background: rgb(231 226 214);
  --md-sys-color-surface: rgb(19 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(74 71 55);
  --md-sys-color-on-surface-variant: rgb(227 220 199);
  --md-sys-color-outline: rgb(183 178 158);
  --md-sys-color-outline-variant: rgb(149 144 126);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(42 42 42);
  --md-sys-color-inverse-primary: rgb(81 72 0);
  --md-sys-color-primary-fixed: rgb(245 228 121);
  --md-sys-color-on-primary-fixed: rgb(21 17 0);
  --md-sys-color-primary-fixed-dim: rgb(216 200 96);
  --md-sys-color-on-primary-fixed-variant: rgb(62 54 0);
  --md-sys-color-secondary-fixed: rgb(226 226 226);
  --md-sys-color-on-secondary-fixed: rgb(16 17 18);
  --md-sys-color-secondary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 54 55);
  --md-sys-color-tertiary-fixed: rgb(226 226 226);
  --md-sys-color-on-tertiary-fixed: rgb(16 17 18);
  --md-sys-color-tertiary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(53 54 55);
  --md-sys-color-surface-dim: rgb(19 19 19);
  --md-sys-color-surface-bright: rgb(69 68 68);
  --md-sys-color-surface-container-lowest: rgb(7 7 7);
  --md-sys-color-surface-container-low: rgb(30 29 29);
  --md-sys-color-surface-container: rgb(40 40 40);
  --md-sys-color-surface-container-high: rgb(51 50 50);
  --md-sys-color-surface-container-highest: rgb(62 61 61);
}
