.light-medium-contrast {
  --md-sys-color-primary: rgb(25 17 11);
  --md-sys-color-surface-tint: rgb(105 92 84);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(47 37 31);
  --md-sys-color-on-primary-container: rgb(192 175 167);
  --md-sys-color-secondary: rgb(62 54 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(122 110 8);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(53 54 55);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(108 109 109);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(254 248 246);
  --md-sys-color-on-background: rgb(29 27 26);
  --md-sys-color-surface: rgb(254 248 246);
  --md-sys-color-on-surface: rgb(18 17 16);
  --md-sys-color-surface-variant: rgb(238 224 217);
  --md-sys-color-on-surface-variant: rgb(61 53 48);
  --md-sys-color-outline: rgb(90 81 76);
  --md-sys-color-outline-variant: rgb(117 107 102);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 48 47);
  --md-sys-color-inverse-on-surface: rgb(245 239 238);
  --md-sys-color-inverse-primary: rgb(212 195 186);
  --md-sys-color-primary-fixed: rgb(120 106 99);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(95 82 75);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(122 110 8);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(96 85 0);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(108 109 109);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(84 85 85);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(202 197 196);
  --md-sys-color-surface-bright: rgb(254 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 242 241);
  --md-sys-color-surface-container: rgb(236 231 229);
  --md-sys-color-surface-container-high: rgb(225 220 218);
  --md-sys-color-surface-container-highest: rgb(214 208 207);
}
