.light {
  --md-sys-color-primary: rgb(25 17 11);
  --md-sys-color-surface-tint: rgb(105 92 84);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(47 37 31);
  --md-sys-color-on-primary-container: rgb(154 139 131);
  --md-sys-color-secondary: rgb(106 95 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(181 166 66);
  --md-sys-color-on-secondary-container: rgb(67 59 0);
  --md-sys-color-tertiary: rgb(93 94 95);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(217 217 217);
  --md-sys-color-on-tertiary-container: rgb(93 95 95);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(254 248 246);
  --md-sys-color-on-background: rgb(29 27 26);
  --md-sys-color-surface: rgb(254 248 246);
  --md-sys-color-on-surface: rgb(29 27 26);
  --md-sys-color-surface-variant: rgb(238 224 217);
  --md-sys-color-on-surface-variant: rgb(78 69 64);
  --md-sys-color-outline: rgb(128 117 111);
  --md-sys-color-outline-variant: rgb(209 196 189);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 48 47);
  --md-sys-color-inverse-on-surface: rgb(245 239 238);
  --md-sys-color-inverse-primary: rgb(212 195 186);
  --md-sys-color-primary-fixed: rgb(241 223 213);
  --md-sys-color-on-primary-fixed: rgb(35 26 20);
  --md-sys-color-primary-fixed-dim: rgb(212 195 186);
  --md-sys-color-on-primary-fixed-variant: rgb(80 68 62);
  --md-sys-color-secondary-fixed: rgb(245 228 121);
  --md-sys-color-on-secondary-fixed: rgb(32 28 0);
  --md-sys-color-secondary-fixed-dim: rgb(216 200 96);
  --md-sys-color-on-secondary-fixed-variant: rgb(80 71 0);
  --md-sys-color-tertiary-fixed: rgb(226 226 226);
  --md-sys-color-on-tertiary-fixed: rgb(26 28 28);
  --md-sys-color-tertiary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(69 71 71);
  --md-sys-color-surface-dim: rgb(222 217 215);
  --md-sys-color-surface-bright: rgb(254 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 242 241);
  --md-sys-color-surface-container: rgb(242 237 235);
  --md-sys-color-surface-container-high: rgb(236 231 229);
  --md-sys-color-surface-container-highest: rgb(231 225 224);
}
